.header_container{
  background-image: url("../images/header_image.jpg");
  background-size: 100% 100%;
  width:100%;
  height: 950px;
  position: relative;

}

.container_main__phone{
  background-image: url("../images/iPhone.png");
  background-size: 100% 100%;
  width: 600px;
  height: 840px;
  position:absolute;
  top: 350px;
  right: 150px;
  float: right;
}
  .logo{
    margin-top: 56px;
    margin-left: 10%;
    position: absolute;
    width: 100px;
  }
    .round1{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid white;
      position: relative;
      float: left;
    }
    .round2{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid white;
      position: absolute;
      margin: 7px 7px;
    }

    .logo p{
      font-family: 'Merriweather Heavy Italic', arial;
      font-style: italic;
      font-weight: bold;
      color: white;
      float: left;
      margin-left: 5px;
      margin-top: 8px;
      display: block;
    }
  .picture_perfect{
    font-family: 'Open Sans', sans-serif;
    margin-left: 10%;
    margin-top: 453px;
    width: 438px;
    position: absolute;
    color: white;
  }
    .picture_perfect h1{
      font-size: 60px;
    }

    .picture_perfect p{
      font-size: 13px;
      line-height: 2;
      margin-top: 20px;
    }

.container_main1, .container_main2, .container_main3{
  width: 80%;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;


}

.container_main1{
      margin-bottom: -150px;
}

.main__left-text{
  float: left;
  width: 45%;
}
.main__right-text{
  bottom: 400px;
  left: 500px;
  width: 45%;
  position: relative;
}
  .main__left-text,.main__right-text{

    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .main__left-text h1,.main__right-text h1{
    font-size: 35px;
    color: #3f4343;
  }
  .main__left-text p,.main__right-text p{
    font-size: 14px;
    color: #cecece;
    margin-top: 40px;
    line-height: 1.5;
  }
.container_main2__row1{
  height: auto;
}

  .box1, .box2, .box3, .box4, .box6, .box7{
    float: left;
    width:24%;
    height: 100%;


  }
  .box5{
    width: 48%;
    float: left;

  }
  .box5 .square_text{
    margin-bottom: 30px;
  }
  .box1{
    background-color: #f5989d;

  }

  .square{
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
  }
    .square_title{
      font-size: 18px;
      color: white;
      font-weight: lighter;
      font-family: 'Open Sans', sans-serif;
    }
    .square_text{
      font-size: 10px;
      color: white;
      font-weight: lighter;
      font-family: 'Open Sans', sans-serif;
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 1.5;
    }
    .square_link{
      font-size: 13px;
      color: white;
      font-weight: bold;
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      margin-right: 15px;
    }
    .fa-heart{
      float:right;
      color:white;
    }
  .box2{
    background-color: #615f7d;
  }
  .box3{
    background-image: url("../images/box3.jpg") ;
  }
  .box4{
    background-color: #bd8cbf;
  }
  .box5{
    background-image: url("../images/box5.jpg");
    background-position: bottom left;
  }
  .box6{
    background-color: #82ca9c;
  }
  .box7{
    background-image: url("../images/box7.jpg");
    background-position: top left;
  }



.four_col{
  padding-top: 97px;
  clear: both;
  color: #5d6060;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  margin-bottom: 163px;
}
  .four_col h2{
    font-size: 35px;
    margin-bottom: 73px;
  }
  .col{
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding-right: 25px;
  }
    .col h3{
    font-size: 13px;
    margin-bottom: 33px;
    color: #67676d;
    font-weight: bold;
    }
    .col p{
      font-size: 14px;
      line-height: 1.5;
    }



.full_image{
  width: 100%;
  background-image: url("../images/car.jpg");
  position:relative;
  clear: both;
  height: 1000px;
}
  .more_power{
    width: 40%;
    left: 10%;
    top: 465px;
    bottom: 137px;
    position: absolute;
  }
    .power_title{
    color: white;
    font-size: 60px;
    font-family: 'Open Sans', sans-serif;
    }
    .power_text{
    color: white;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 47px;
    margin-bottom: 30px;
    line-height: 1.5;
    }
    .power_link{
    font-size: 14px;
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    margin-right: 15px;
    }




  .color{
    width:100%;
    background-color: #82ca9c;
    overflow: hidden;

    position: relative;
    clear: both;
    color: white;
  }
    .color_container{
      width: 80%;
      margin: 0 auto;
    }
      .color_title1{
        margin-top: 132px;
        margin-bottom: 70px;
        font-size: 35px;
      }
      .color_col{
        width:30%;
        float: left;
        margin-right: 30px;
      }
        .color_col h3{
          font-size: 13px;
          font-weight: bold;
          margin-bottom: 30px;
        }
        .color_col p{
          font-size: 14px;
          line-height: 1.5;
          margin-bottom: 170px;
        }


.buying{
  width: 100%;
  position: relative;
  background-color: #f6f7fa;
  overflow: hidden;

}
  .solo{
    width: 35%;
    margin-left: 10%;
    float: left;
    margin-top: 100px;
    margin-bottom: 140px;
    padding: 15px;
  }
    .legacy{
    width: 80px;
    height: 25px;
    color: white;
    background-color: #e1e1e1;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    }
    .buying_title{
      font-size: 30px;
      color: #465263;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .buying_text{
      font-size: 14px;
      color: #465263;
      margin-bottom: 30px;
    }
    .buy{
      width: 155px;
      height: 46px;
      background-color: #82ca9c;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 34px;
    }
    .img{
      height: 50px;
      margin-right: 10px;
      margin-bottom: 60px;
    }

  .team_plan{
    width: 35%;
    margin-right: 10%;
    float: right;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    background-color: white;
    margin-top: 100px;
    margin-bottom: 140px;
    padding: 15px;
  }
    .popular{
      width: 115px;
      height: 25px;
      color: white;
      background-color: #bd8cbf;
      border: none;
      border-radius: 5px;
      font-size: 11px;
      font-weight: bold;
    }

.footer_container{
  width: 100%;
  background-color: #192431;
  overflow: hidden;
  color: white;
  font-family: 'Open Sans', sans-serif;

}
  .get{
    width: 40%;
    float: left;
    margin-left: 10%;
  }
    .get h4{
      margin-top: 130px;
      font-size: 13px;
      margin-bottom: 34px;
      font-weight: bold;
    }
    .get p{
      font-size: 13px;
      margin-bottom: 80px;
    }
    .list{
      width: 30%;
      font-size: 13px;
      float: left;
      margin-right: 3%;
      margin-bottom: 160px;
    }
      .list h5{
        font-weight: bold;
        margin-bottom: 33px;
      }
      .list li{
        margin-bottom: 15px;
      }

  .stay{
    width: 30%;
    margin-right: 10%;
    float: right;
    height: 200px;
    color: white;

  }
    .stay h4{
      margin-top: 130px;
      font-size: 13px;
      margin-bottom: 30px;
      font-weight: bold;
    }
    .stay p{
      font-size: 12px;
      color: #57697f;

      clear: both;
    }
    .email{
      width: 80%;
      height: 60px;
      background-color: white;
      border: none;
      float: left;
      margin-bottom: 20px;
      margin-right: 0;
      box-sizing: border-box;
    }
    .email_send{
      width: 20%;
      height: 60px;
      background-color: white;
      border: none;
      float: right;
      background-color: #82ca9c;
      margin-left:0;
      box-sizing: border-box;
    }
    .stay_button{
      position: relative;
    }
    .stay i{
      position: absolute;
      top:18px;
      right:30px;
    }


@media (max-width: 700px) {
  .main_text{
        column-count: 1;
  }
  .square, .col, .color_col{
    width: 100%;
    float: none;
  }

  .solo, .team_plan, .get, .stay{
    width: 80%;
    float: none;
    margin-left: 10%;
    margin-right: 10%;
  }
  .more_power{
    width: 80%;
    float: none;
    margin-right: 10%;
  }
  .col h3{
    margin-top: 20px;
  }
  .color_col p{
    margin-bottom: 30px;
  }



}

@media (min-width: 701px) and (max-width: 1120px) {
  .square{
    width: 80%;
    float: none;
    margin: 0 auto;
  }
}
