* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

.container{
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
}

@font-face{
  font-family: MyriadPro;

  src: url(./fonts/MyriadPro/MyriadPro-Regular.otf);
}

/* стили для section name */

.name{
  width:45%;
  height: 500px;
  float: left;

  text-align: center;
}
.round_big{
  width: 220px;
  height: 220px;
  border: 1px solid #3d6cb0;
  border-radius: 50%;
  margin: auto;
  margin-top: 60px;
}
.round_small{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #3d6cb0;
  margin: auto;
  margin-top: 10px;
}
.name p{
  font-family: MyriadPro;
  font-size: 40px;
  line-height: 1;
}

.name .first_p{
  margin-top: 30px;
}


.name .bold{
  font-weight: bold;
  font-size: 50px;
}

/* стили для section education */

.education{
  width:55%;
  height: 730px;
  float: left;


}

/* стили для title*/

.title{
  height: 60px;
  width:100%;

}

.title .line{
  display: inline-block;
  width: 360px;
  height: auto;
  max-height: 10px;
  float: left;
  margin-left: 10px;
  margin-bottom: 25px;
  margin-top: 25px;

}


.title .icon{
  width: 60px;
  height: 60px;
  float: left;
  display: inline-block;
}

.title p{
  display: inline-block;
  font-weight: bold;
  font-size: 30px;
  color: #3d6cb0;
  font-family: MyriadPro;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
}


.li_title2{
  font-size: 23px;
  line-height: 1.2;
  font-weight: normal;
}



ul li{
  margin-bottom: 20px;
}

ul li:before {
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    position: relative;
    top:18px;
    right:30px;
    background-color: black;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
    z-index: 10;
}

.education ul, .experience ul{
  margin-top: 20px;
  font-size: 20px;
  margin-left: 30px;
  list-style-type: none;
  font-family: MyriadPro;
}

.education h1, .experience h1{
  font-size: 20px;
  font-weight: normal;
}

.education .li_title, .experience .li_title{
  color:#3d6cb0;
  font-family: MyriadPro;
  font-weight: bold;
  font-size: 23px;
}


/* стили для section profile */



.profile{
  width: 45%;
  float: left;
  height:400px;

  margin-top: -230px;
}


.profile p{
  margin-right: 30px;
  margin-top: 30px;
  font-size: 20px;
  font-family: MyriadPro;
}

.profile .title p{
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.profile_bold{
  font-weight: bold;
}

.experience{
  width: 55%;
  height: 570px;
  float: right;

}

.contact{
  width: 45%;
  float: left;
  height:340px;

}

.table{

  float: left;
  text-align: left;

}

.contact th{
  color:#3d6cb0;
  font-weight: bold;
  font-size: 20px;
  line-height: 3;
}

.contact td{
  padding-left:50px;
  font-size: 18px;
}


.software{
  width: 55%;
  height: 350px;
  float: right;

}

.illustrator, .indesign, .after, .html, .dreamweaver{

  padding-top: 10px;
}

.software .table-rate{
  width:100%;
  height: 280px;
}

.software .rate-left{

  width: 46%;
  margin-top: 18px;
  float: left;

}
.software .rate-right{

  width: 46%;
  float: right;
  margin-top: 18px;
}

.table-rate p{
  font-size:20px;
  margin-top: 17px;
  font-family: MyriadPro;
  margin-bottom: 17px;
}
.rate{
  margin-top: 12px;
  margin-bottom: 12px;
}

.blue_rate img{
  float:left;
  height:15px;

}

.grey_rate img{
  float:right;
  height:15px;

}

.photoshop-b img{
  width:90%;
}

.photoshop-g img{
  width:10%;
}

.dream-b img{
  width:80%;
}

.dream-g img{
  width:20%;
}

.ill-b img{
  width:70%;
}

.ill-g img{
  width:30%;
}

.after-b img{
  width:60%;
}

.after-g img{
  width:40%;
}

.design-b img{
  width:55%;
}

.design-g img{
  width:45%;
}

.html-b img{
  width:90%;
}

.html-g img{
  width:10%;
}


/*
.software table{
  margin-top: 18px;
  margin-left: 30px;

}

.table-rate td{
  padding-right: 80px;

}

.rate{
  margin-top: 12px;
}



.table-rate td{
  width: 280px;
  height: 30px;
}

.table-rate p{
  font-size:20px;
  margin-top: 17px;
  font-family: MyriadPro;
}

.blue_rate img{
  float:left;
  height:15px;

}

.grey_rate img{
  float:right;
  height:15px;

}

.photoshop-b img{
  width:90%;
}

.photoshop-g img{
  width:10%;
}

.dream-b img{
  width:80%;
}

.dream-g img{
  width:20%;
}

.ill-b img{
  width:70%;
}

.ill-g img{
  width:30%;
}

.after-b img{
  width:60%;
}

.after-g img{
  width:40%;
}

.design-b img{
  width:55%;
}

.design-g img{
  width:45%;
}

.html-b img{
  width:90%;
}

.html-g img{
  width:10%;
}

*/

.skills{
  width: 45%;
  float: left;

  height:380px;
  margin-top: -60px;
}

.skills p{
  font-size: 20px;
  text-align: center;
}

.skills .title p{
  font-weight: bold;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
}


.points img{
  width:12px;
  heght:12px;
  margin-left: 5px;
}

.skills .points{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}



@media (max-width: 700px) {
.name, .education, .profile, .experience, .contact, .software, .skills{
  width: 100%;
  float: none;
}

.name{
  height: 400px;
}
.profile{
  margin-top: 0;
}

.software {
  height: 500px;
  margin-bottom: 30px;
  
}

.software .rate-left{

  width: 100%;
  margin-top: 18px;
  float: none;

}
.software .rate-right{

  width: 100%;
  float: none;
  margin-top: 18px;
}

.skills{
  margin-top: 0;
}
}
